* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;
}

.wrapper {
    font-family: 'Rubik', sans-serif;
    padding: 10px 25px;
    overflow: hidden;
    background: #dce9ef;
    color: #00010e;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 10px;
}
.backNav {
    text-align: left;
}
.backNav > a {
    margin-right: 7px;
}

.backNav > a:before {
    content: "<";
    margin-right: 7px;
}

.soundImgBlock {
    display: flex;
    align-items: center;
}

.soundIconsBlock {
    display: flex;
}

.buttonsBlock {
    display: flex;
    margin: 10px 0 20px 0;
    justify-content: space-between;
}

.textBlock {
    background: #bcd7e2;
    border-radius: 7px;
    max-width: 400px;
    margin: 0 auto;
}

.textBlock > p {
    padding: 5px;
    color: #00010e;
}

.hits > h2 {
    font-size: 15px;
}

.trackBlock {
    display: flex;
}

.trackBlock > span {
    margin-left: 5px;
}

.wordContainer {
    display: flex;
    margin: 10px 0;
    font-weight: 600
}

.title {
    margin-top: 30px;
    font-size: 15px;
}

.text {
    display: inline;
    padding: 0 5px;
    font-size: 14px;
}

.divider {
    display: inline;
    height: 11px;
    margin-top: 4px;
    border-left: 2px solid #00010e;
}

.textContainer {
    display: flex;
}

.title {
    font-size: 15px;
}

.cardWrapper {
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    justify-items: center;
    grid-gap: 20px;
}

.cardContainer {
    display: grid;
    grid-gap: 20px;
    margin-bottom: 50px;
}

.first {
    position: relative;
    z-index: 10;
}

.last {
    position: relative;
}

/*screen width 1000px*/

@media (min-width: 1000px) {

    .buttonsBlock {
        flex-direction: column;
    }
    .cardWrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
    }

    .wordContainer {
        margin-bottom: 30px;
    }

    .cardContainer {
        display: flex;
        justify-content: space-between;
    }

    .cardContent {
        display: flex;
        justify-content: space-between;
    }

}
